.profTable {
    border-collapse: collapse;
    padding: 2px;
    width: 100%;
}

.profth {
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}

.proftd {
    text-align: center;
    padding: 7px;
}

.proftr:nth-of-type(even) {
    background-color: #e6e6e6;
}