.SaveNotes__left-right {
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #65ffb7 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
}
  
.SaveNotes__left-right:hover {
    background-position: bottom left;
    color: #fff;
    cursor: pointer;    
    transform: scale(1.1);
}

.ImagesEdit__left-right {
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #ffd465 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
}
  
.ImagesEdit__left-right:hover {
    background-position: bottom left;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}

.Games__left-right {
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #65b5ff 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
}
  
.Games__left-right:hover {
    background-position: bottom left;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
}