table,tr,th,td{
    border: 1px solid black;
    /* border-collapse: collapse; */
    padding:10px;
    border-spacing: 5px;
}

table{
    border-radius: 13px;
}

tr:nth-child(even){
    border-radius: 3px;
    background-color:rgb(241, 241, 241);
}

tr:nth-child(odd){
    border-radius: 3px;
    background-color:rgb(255, 255, 255);
}

th{
    background-color:rgb(255, 216, 159);
    text-align: center;
    padding: 15px;
}

td{
    text-align: center;
}