.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu.submenu {
    top: 0;
    right: 100%;
    margin-top: -1px;
    display: none;
}

.dropdown-menu.submenu.show {
    display: block !important;
}

.dropdown-item {
    white-space: nowrap;
}